<table border="2" style="border-collapse: collapse; width:270px;height:250px;">
    <tr>
        <th colspan="2">Employee Details</th>
    </tr>
    <tr>
        <td>Employee ID</td>
        <td>{{EmployeeID}}</td>
    </tr>
    <tr>
        <td>Employee job</td>
        <td>{{Empjob}}</td>
        
    </tr>
    <tr>
        <td>Employee Salary</td>
        <td>{{Empsalary}}</td>
        
    </tr>
    <tr>
        <td>Employee Depo</td>
        <td>{{EmpDepo}}</td>
        
    </tr>

</table>

